@(eventForm: Form[Event])(implicit messages: play.api.i18n.Messages, request: RequestHeader)

@main("Events") {
 
<div class="w3-container w3-teal w3-padding-medium w3-card-2">
    <span class="w3-large w3-text-shadow w3-text-white">New Event</span> 
</div>

 <div class="w3-container w3-padding-large" style="width:60%;">
    @helper.form(routes.Application.addEvent) {

    
    <table class="w3-table w3-bordered w3-border w3-margin-top">
	    <tr>
		    <td width=40%>
		    @helper.inputText(eventForm("Name"))
		    </td>
		    <td width=60%>
		    @helper.inputText(eventForm("Description"), args = 'size -> 50)
		    </td>
	    </tr>
	    <tr>
		    <td>
		    @helper.inputDate(eventForm("Start Date"))
		    </td>
		    <td>
		    @helper.inputDate(eventForm("End Date"))
		    </td>
	    </tr>
	    <tr>
		    <td>
		    <input type="checkbox" name="isActive" class="w3-check w3-padding-0 w3-margin-0">
		    <b>Active</b>
		    </td>
		    <td></td>
		</tr>
		<tr>
		    <td>
		    <button type="submit" class="w3-btn w3-round-large">Create event</button>
		    </td>
		    <td></td>
	    </tr>
	</table>	

	}


}
