@(event_name: String)

 
 	<div class="w3-container w3-margin-top-22 w3-padding-0 w3-text-black" style="text-align:left;">
	    <b><span class="w3-medium w3-text-white" id="count"></span></b>
	    <span class="w3-small w3-text-white"> tweets have been collected</span>
    </div>
  	<script type="text/javascript" charset="utf-8">
	    var feed = new EventSource("@routes.Streaming.countchunked(event_name)");
	      console.log("feed", feed);
	      feed.addEventListener('message', function(event) {
	        console.log(event);
	        var result  = jQuery.parseJSON(event.data);
	        console.log(result);
	          $('#count').html(result.message.count)

	    }, false);
	</script>
