@(query: Query)


<div class="w3-container w3-padding-0 w3-margin-top" style="width:100%;"> 
  <span class="w3-small"> Unique @(query.attribute.capitalize)s: </span>
  <span class="w3-small" id='c'></span>
  <div class="w3-small w3-padding" id='d'></div>
  <div class="w3-small w3-padding" id='msg'></div>
</div>   

    <script type="text/javascript" charset="utf-8">
        var feed = new EventSource("@routes.Streaming.datasetquerychunked(query.event, query.attribute, query.name)");
        console.log("feed", feed);
        feed.addEventListener('message', function(event) {
          console.log(event);
          var result  = jQuery.parseJSON(event.data);
          console.log(result);
            $('#d').html("new data: " + result.message.length)
            $('#c').html(result.message.length)
            var str =""
            for (i in result.message){
              str = str + result.message[i].value + ", "
            }
            $('#msg').html(str)
          

      }, false);
  </script>

