@(curr_event: Event, process: Seq[Process], queries: Seq[Query])(implicit messages: play.api.i18n.Messages, request: RequestHeader)

	<div class="w3-margin-top">
		<table border=1 width=100%>
		<tr>
			<td>
				<p class="w3-large">Metrics</p>
			</td>
		</tr>
		<tr>
			<td>
			<div class="w3-margin-left w3-small">
			@for(q <- queries) {
				@if(q.event==curr_event.name && q.query_type=="dataset" && q.attribute=="hashtag"){
					@datasetQueryResult(q)
			  	}
				@if(q.event==curr_event.name && q.query_type=="dataset" && q.attribute=="user"){
					@datasetQueryResult(q)
			  	}


			}
			  
			<!-- 	<p><a href=""> Unique Hashtags (###) </a></p>
				<p><a href=""> Unique Users (###) </a></p>
				<p><a href=""> Unique URLs (###) </a></p>
				<p><a href=""> Unique Mentions (###) </a></p> -->
			</div>
			

			</td>
		</tr>
		</table>
	</div>	
