@(curr_event: Event, keywords: Seq[Keyword], processes: Seq[Process], queries: Seq[Query])(implicit messages: play.api.i18n.Messages, request: RequestHeader)

@attribute = @{"hashtag"}
@keywordForm = @{Application.addKeywordForm}
@activeForm = @{Application.addActiveForm}

@main("EPIC RealTime") {
 
	<div class="w3-display-container w3-indigo w3-padding-medium w3-card-2">
	    <span class="w3-large w3-text-shadow w3-text-amber w3-allerta w3-tooltip">@curr_event.name
			<span class="w3-text w3-small w3-slim w3-indigo w3-tag"><i>@curr_event.description</i></span>
	    </span> 
	    
	    <span class="w3-small w3-text-light-grey">@if(curr_event.isActive){(Active)}else{(Not Active)}</span>
	    <span class="w3-small w3-text-light-grey">Started in @curr_event.startDate</span> 
	   

        @helper.form(routes.Application.setActive(curr_event.name)) {
		    <span><input class="w3-small w3-right" type="hidden" name="active" value="true"></span>
		    <span><button type="submit" class="w3-btn w3-display-topright w3-tiny w3-padding w3-margin-top w3-margin-right w3-Teal w3-round">Activate</button></span>
	    }
	</div>

    <table class="w3-table w3-margin-top w3-margin-bottom">
	    <tr>
	    <td width=15%>
			<button class="accordion">
			Tweet Count
			</button>
			<div class="panel w3-container w3-show w3-margin-0 w3-small">
				@count(curr_event.name)
			</div>
			<button class="accordion">Metrics</button>
			<div class="panel w3-container w3-margin-0 w3-small">
				<p><a href=""> Unique Hashtags (###) </p></a>
				<p><a href=""> Unique Users (###) </p></a>
				<p><a href=""> Unique URLs (###) </p></a>
				<p><a href=""> Unique Mentions (###) </p></a>
			</div>
		</td>
		<td>
			<button class="accordion">Trend Query</button>
			<div class="panel w3-container w3-margin-0 w3-small">
                <nav class="w3-sidenav w3-card-1" style="width:100px">
				  <a href="#" class="tablink" onclick="openCity(event, 'Hashtag')">Hashtag</a>
				  <a href="#" class="tablink" onclick="openCity(event, 'User')">User</a>
				  <a href="#" class="tablink" onclick="openCity(event, 'URL')">URL</a>
				  <a href="#" class="tablink" onclick="openCity(event, 'Mention')">Mention</a>
				</nav>

				<div style="margin-left:100px;">
				  	<div id="Hashtag" class="w3-container w3-margin-bottom trend_menu">
				    <span class="w3-medium w3-margin-right">Hashtag</span>
				 
					<a href="#" class="w3-small w3-white w3-text-black w3-hover-text-khaki" onclick="">Create Process</a> |
					<a href="#" class="w3-small w3-white w3-text-black w3-hover-text-khaki" onclick="">Start Process</a> |
					<a href="#" class="w3-small w3-white w3-text-black w3-hover-text-khaki" onclick="showFun('hashtag_form')">Add Query</a>
					    
					<p id='result'></p>

					<div id="hashtag_form" class="w3-accordion-content w3-white">
					    @addQuery(curr_event.name, "hashtag")
					</div>			
                    
					@for(q <- queries) {
					    <!-- i++ -->
						@if(q.event==curr_event.name){
							<a href="#" class="w3-small w3-white w3-text-black w3-hover-text-khaki" onclick="showFun('@q.name')">@q.name</a>&nbsp;
						}
					}
					@for(q <- queries) {
						@if(q.event==curr_event.name){
						  	<div id=@q.name class="w3-accordion-content w3-white w3-margin-top">
			 					<!-- <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">x</span> -->
							  	<!-- http://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_containers_open -->
							  	@queryResult(curr_event.name,"hashtag",q.name)
						  	</div>
					  	}
					}

				  	</div>


				  <div id="User" class="w3-container w3-margin-bottom trend_menu">
				     <span class="w3-medium w3-margin-right">User</span>
				   	<a href="#" class="w3-small w3-white w3-text-black w3-hover-text-khaki" onclick="">Create Process</a> |
					<a href="#" class="w3-small w3-white w3-text-black w3-hover-text-khaki" onclick="">Start Process</a> |
					<a href="#" class="w3-small w3-white w3-text-black w3-hover-text-khaki" onclick="">Add Query</a>
				  </div>

				  <div id="URL" class="w3-container w3-margin-bottom trend_menu">
				     <span class="w3-medium w3-margin-right">URL</span>
				   	<a href="#" class="w3-small w3-white w3-text-black w3-hover-text-khaki" onclick="">Create Process</a> |
					<a href="#" class="w3-small w3-white w3-text-black w3-hover-text-khaki" onclick="">Start Process</a> |
					<a href="#" class="w3-small w3-white w3-text-black w3-hover-text-khaki" onclick="">Add Query</a>
				  </div>

				  <div id="Mention" class="w3-container w3-margin-bottom trend_menu">
				     <span class="w3-medium w3-margin-right">Mention</span>
				   	<a href="#" class="w3-small w3-white w3-text-black w3-hover-text-khaki" onclick="">Create Process</a> |
					<a href="#" class="w3-small w3-white w3-text-black w3-hover-text-khaki" onclick="">Start Process</a> |
					<a href="#" class="w3-small w3-white w3-text-black w3-hover-text-khaki" onclick="">Add Query</a>
				  </div>
				</div>
				<!-- http://www.w3schools.com/w3css/w3css_tabulators.asp -->
		
			</div>

		</td>
		<td width=15% height=100% style="border-left: 1px solid #cdd0d4;" >
			 @keywordList(curr_event.name, keywords)
		     <div class="scroll w3-container w3-small w3-padding-4">
			    @helper.form(routes.Application.addKeyword(curr_event.name)) {
			    <table class="w3-table w3-tiny w3-padding-0 w3-margin-0">
				    <tr>
					    <td>
					    @helper.inputText(keywordForm("Text"),'type -> "text",'_label -> null)
					    <button type="submit" class="w3-btn w3-round w3-margin-0 w3-small">Add keyword</button>
					    </td>
				    </tr>
				</table>
				}
			</div>

		</td>
		</tr>
	</table>

	<!-- http://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion_symbol -->
	<script>
		var acc = document.getElementsByClassName("accordion");
		var i;
		for (i = 0; i < acc.length; i++) {
		    acc[i].onclick = function(){
		        this.classList.toggle("active");
		        this.nextElementSibling.classList.toggle("show");
		  }
		}
	</script>

	<script>
		function openCity(evt, cityName) {
		  var i, x, tablinks;
		  x = document.getElementsByClassName("trend_menu");
		  for (i = 0; i < x.length; i++) {
		     x[i].style.display = "none";
		  }
		  tablinks = document.getElementsByClassName("tablink");
		  for (i = 0; i < x.length; i++) {
		      tablinks[i].className = tablinks[i].className.replace(" w3-text-indigo", "");
		  }
		  document.getElementById(cityName).style.display = "block";
		  evt.currentTarget.className += " w3-text-indigo";
		}
	</script>


	<script>
		function showFun(id) {
		    var x = document.getElementById(id);
		    if (x.className.indexOf("w3-show") == -1) {
		        x.className += " w3-show";
		    } else {
		        x.className = x.className.replace(" w3-show", "");
		    }
		}
	</script>
	<script>
	function runProcess(id: string) {
		$.ajax({
		    type: "GET",
		    url: "/events/ONS2016/trend/hashtag",
		    // The key needs to match your method's input parameter (case-sensitive).
		    data: ""
		    contentType: "application/json; charset=utf-8",
		    dataType: "json",
		    success:  function(res) {
                		if(res.success == true){
                			$("#result").html("Success");
                		}else{   
                			$("#result").html("Failure");
                		}
					 }
			}
		});
	</script>

}
