@(events: Seq[Event])(implicit messages: play.api.i18n.Messages, request: RequestHeader)

@main("Events") {
   

  <div class="w3-container w3-teal w3-padding-medium w3-card-2">
    <span class="w3-large w3-text-shadow w3-text-white">Event List</span> 
  </div>

  <div class="w3-container w3-padding-large">
    @if(events.size>0) {
      <input class="w3-input w3-small w3-border w3-padding-4" type="text" placeholder="Search for names.." id="myInput" onkeyup="myFunction()">
      <table class="w3-table w3-small w3-striped w3-bordered w3-border w3-margin-top w3-hoverable" id="myTable">
        <thead>
          <tr><th>Name</th><th>Description</th><th>Start Date</th><th>End Date</th><th>is Active</th><th></th><th></th><th></th>
        </thead>
          <tbody>
            @for(e <- events) {
              <tr>
              <td>@e.name</td>
              <td width=40%>@e.description</td>
              <td>@e.startDate</td>
              <td>@e.endDate</td>
              <td>@e.isActive</td>
              <td width=10px><button class="w3-btn w3-tiny w3-round w3-dark-grey w3-hover-text-orange" href='@routes.Application.getEvent(e.name)'>Home Page</button>
              </td>
              <td width=10px><button class="w3-btn w3-round w3-tiny w3-dark-grey w3-hover-text-orange" href='@routes.Application.getEvent(e.name)'>Activate</button>
              </td>
              <td width=10px><button class="w3-btn w3-round w3-tiny w3-dark-grey w3-hover-text-orange" href='@routes.Application.getEvent(e.name)'>Delete</button>
              </td>
              </tr>
            }
          </tbody>
      </table>
      } else {
        <div class="w3-container w3-small w3-padding-4">(No events available)</div>
      }
  </div>

  <!-- http://www.w3schools.com/w3css/w3css_tables.asp -->

  <script>
    function myFunction() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>
      
}
