@(event: Event, processes: Seq[Process], queries: Seq[Query])
@attribute = @{"hashtag"}
@main("Events") {
 
      <nav class="w3-sidenav w3-small w3-light-grey w3-card-2" style="width:140px;">
        <a href="@routes.Application.count(event.name)" target="tips1"><b>Tweet Count</b></a>
        <div class="w3-accordion">
          <a onclick="myAccFunc()" href="#"><b>Trend</b> <i class="fa fa-caret-down"></i>
          </a>
          <div id="accordMenu1" class="w3-accordion-content w3-white w3-card-4">
            <a href="#"><b>Hashtag</b></a>
            <a href="#"><b>User</b></a>
            <a href="#"><b>Url</b></a>
            <a href="#"><b>Mention</b></a>
          </div>
        </div>
        <a href="#tips2"><b>Link</b></a>
        <a href="#"><b>Link</b></a>
      </nav>
  
  <script>
    function myAccFunc() {
        var x = document.getElementById("accordMenu1");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-grey";
        } else {
            x.className = x.className.replace(" w3-show", "");
            x.previousElementSibling.className =
            x.previousElementSibling.className.replace(" w3-grey", "");
        }
    }
  </script>

}
