@(curr_event: Event, keywords: Seq[Keyword], processes: Seq[Process], queries: Seq[Query])(implicit messages: play.api.i18n.Messages, request: RequestHeader)

@attribute = @{"hashtag"}
@keywordForm = @{Application.addKeywordForm}
@activeForm = @{Application.addActiveForm}

@main("EPIC RealTime") {
 
	<div class="w3-display-container w3-indigo w3-padding-medium w3-card-2">
	    <span class="w3-xlarge w3-text-shadow w3-text-amber w3-allerta w3-tooltip">@curr_event.name
			<span class="w3-text w3-small w3-slim w3-indigo w3-tag"><i>@curr_event.description</i></span>
	    </span> 	    
	    <span class="w3-small w3-text-light-grey">@if(curr_event.isActive){(Active)}else{(Not Active)}</span>
	    <span class="w3-small w3-text-light-grey">Started in @curr_event.startDate</span> 
	   
        @helper.form(routes.Application.setActive(curr_event.name)) {
		    <span><input id="active_value" class="w3-small w3-right" type="hidden" name="active" 
		    value=@if(curr_event.isActive==false){true}else{false}></span>
		    <span><button id="active_btn" type="submit" class="w3-btn w3-display-topright w3-tiny w3-padding w3-margin-top w3-margin-bottom-12 w3-margin-right w3-Teal w3-round">@if(curr_event.isActive==false){Activate}else{Deactivate}</button></span>
	    }
	</div>

    <table border=1 class="w3-table w3-padding-0 w3-margin-0 w3-margin-bottom">
	<tr>
		<td wdith=80%>
		
			<nav class="w3-sidenav w3-light-grey w3-margin-left-0 w3-padding-bottom w3-meduim" style="width:130px; box-shadow: 5px 5px 10px #a6a6a6;">
			  <a href="#" class="menulink " onclick="showMenu(event, 'Dataset')"><b>Dataset</b></a>
			  <a href="#" class="menulink" onclick="showMenu(event, 'Trend')"><b>Trend</b></a>
			  <a href="#" class="menulink" onclick="showMenu(event, 'Popular')"><b>Popular</b></a>
			</nav>
		
			<div style="margin-left:130px">
			  	<div id="Dataset" class="w3-container menu_content">
				   @dataset(curr_event, processes, queries)
			 	</div>
			  	<div id="Trend" class="w3-container menu_content">
					<div class="w3-container w3-padding-0 w3-small">
					  <ul class="w3-navbar w3-light-grey" style="box-shadow: 5px 5px 10px #a6a6a6;">
					    <li><a href="#" class="tablink" onclick="showSubMenu(event, 'Hashtag');"><b>Hashtag</b></a></li>
					    <li><a href="#" class="tablink" onclick="showSubMenu(event, 'User');"><b>User</b></a></li>
					    <li><a href="#" class="tablink" onclick="showSubMenu(event, 'URL');"><b>URL</b></a></li>
					    <li><a href="#" class="tablink" onclick="showSubMenu(event, 'Mention');"><b>Mention</b></a></li>
					  </ul>

					  <div id="Hashtag" class="w3-container trned_menu_content">
						@trend_hashtag(curr_event, processes, queries)
					  </div>
					  <div id="User" class="w3-container trned_menu_content">
					    @trend_user(curr_event, processes, queries)
					  </div>
					  <div id="URL" class="w3-container trned_menu_content">
					    @trend_url(curr_event, processes, queries)
					  </div>
					  <div id="Mention" class="w3-container trned_menu_content">
					    @trend_mention(curr_event, processes, queries)
					  </div>					
					</div>			    	
			  	</div>
			  	<div id="Popular" class="w3-container menu_content">				
			  	</div>
			</div>  
		  	
     	</td>
     	<td>
      		<div class="w3-light-grey w3-margin-right-2 w3-padding-0 w3-small" style="box-shadow: 5px 5px 10px #a6a6a6;">
      		    hiii hiiii hii
			 	@keywordList(curr_event.name, keywords)
		     	<div class="scroll w3-container w3-small w3-padding-4">
			    	@helper.form(routes.Application.addKeyword(curr_event.name)) {
				    	<table class="w3-table w3-tiny w3-padding-0 w3-margin-top">
					    <tr>
						    <td class="w3-padding-0">
						    	<!-- @helper.inputText(keywordForm("Text"),'type -> "text",'_label -> null) -->
						    	<input class="w3-small w3-padding-4 w3-margin-top" type="text" name="Text" value="">
						    </td>
						</tr>
						<tr>
						    <td class="w3-padding-0">
						    	<button type="submit" class="w3-btn w3-round w3-tiny w3-padding-2 w3-margin-top w3-margin-bottom">Add keyword</button>
						    </td>
					    </tr>
						</table>
					}
				</div>
			</div>
		</td>
	</tr>
	</table>


	<!-- Side Navigatin -->
	<style>
		.menu_content {display:none;}
	</style>
	<script>
		function showMenu(evt, menuName) {
		  var i, x, tablinks;
		  x = document.getElementsByClassName("menu_content");
		  for (i = 0; i < x.length; i++) {
		     x[i].style.display = "none";
		  }
		  tablinks = document.getElementsByClassName("menulink");
		  for (i = 0; i < x.length; i++) {
		      tablinks[i].className = tablinks[i].className.replace(" w3-black", "");
		  }
		  document.getElementById(menuName).style.display = "block";
		  evt.currentTarget.className += " w3-black";
		}
	</script>
	<!-- http://www.w3schools.com/w3css/w3css_tabulators.asp -->     
	<!-- Side Navigatin -->

	<!-- Sub Navigatin -->
	<script type="javascript/text">
	    // document.getElementById('Dataset').src='http://oneBigHairyURL';  //???
	</script>
	<style>
		.trned_menu_content {display:none;}
	</style>
	<script>
		function showSubMenu(evt, menuName) {
		  var i, x, tablinks;
		  x = document.getElementsByClassName("trned_menu_content");
		  for (i = 0; i < x.length; i++) {
		      x[i].style.display = "none";
		  }
		  tablinks = document.getElementsByClassName("tablink");
		  for (i = 0; i < x.length; i++) {
		      tablinks[i].className = tablinks[i].className.replace(" w3-amber", "");
		  }
		  document.getElementById(menuName).style.display = "block";
		  evt.currentTarget.className += " w3-amber";
		}
	</script>
	<!-- http://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_tabulators_active -->
	<!-- Sub Navigatin -->
	
	<!-- http://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion_symbol -->


}
