@(id: String, keywords: Seq[Keyword])(implicit messages: play.api.i18n.Messages, request: RequestHeader)

  <div class="w3-medium w3-text-black w3-margin-left w3-padding-12"><b>keywords</b></div> 

  <div class="w3-container w3-small w3-padding-4">
    @if(keywords.size>0) {
      <input class="w3-input w3-light-grey" type="text" placeholder="Search for words.." id="myInput" onkeyup="keyupFunction()">     
      <table class="w3-table w3-bordered w3-margin-top" id="myTable">
          <tbody>
            @for(k <- keywords) {
              <tr>
              <td class="w3-padding-0" height=5px >
              <input type="checkbox" checked="checked" class="w3-check w3-padding-0 w3-margin-0">
              <span class="w3-small w3-padding-0 w3-margin-0"> @k.text</span>
              </td>
              </tr>
            }
          </tbody>
      </table>
      } else {
        <div class="w3-container w3-tiny w3-padding-0">(No keywords available)</div>
      }
  </div>

  <script>
    function keyupFunction() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>
      
