@(curr_event: Event, attribute: String, p: Process, queries: Seq[Query])(implicit messages: play.api.i18n.Messages, request: RequestHeader)

	<div class="w3-margin-top">
		<div class="w3-row">
			<div class="w3-col" style="width:30%">
				<span class="w3-large w3-margin-bottom">@{attribute.capitalize}</span>&nbsp;
				@if(p.query_type=="popular" && p.attribute=="retweet"){          
					<span class="w3-tiny w3-margin-top-12"><b>&lambda;</b> Process is created</span>
					<p class="w3-small">
					@if(p.speed_job_running||p.batch_job_running){
					@{attribute.capitalize} <b>&lambda;</b> process is running ...
					}else{@{attribute.capitalize} <b>&lambda;</b> process is not running!}
					</p>
				}else{
					<span class="w3-tiny w3-margin-top-12"><b>&lambda;</b> Process is not created</span>
				}
			</div>
			@if(p.query_type=="popular" && p.attribute=="retweet"){ 
				<div class="w3-col" style="width:17%">
					@helper.form(routes.Application.setProcessStatus(curr_event.name, "popular", "")){
						<input type="hidden" class="w3-small" name="request" 
		                 value='@if(p.speed_job_running||p.batch_job_running){stop}else{start}'/>
		                <span><button id="popular_@{attribute}_p" type="submit" class="w3-btn w3-round w3-small w3-margin-top w3-light-grey w3-text-black w3-hover-text-orange"onclick="showFun1('popular_@{attribute}_p','');">@if(p.speed_job_running||p.batch_job_running){Stop &lambda;Process}else{Start &lambda; Process}</button></span>
	             	}
	        	</div>
	        	<div class="w3-col" style="width:50%">
	     			<span><input id="popular_@{attribute}_q" type='button' value='Add Query' class="w3-btn w3-round w3-small w3-margin-top w3-light-grey w3-text-black w3-hover-text-orange" onclick="showFun1('popular_@{attribute}_q','popular_@{attribute}_form');"/></span>
	     		</div>	
	     	}		
		</div>
	</div>	

	<div class="w3-margin-top">		                    
	@for(q <- queries) {
	    <!-- i++ -->
		@if(q.event==curr_event.name && q.query_type=="popular" &&  q.attribute==attribute){
			<a href="#" class="w3-small w3-white w3-text-black w3-hover-text-khaki" onclick="showFun2('@q.name');">@q.name</a>&nbsp;
		}
	}
	</div>
	<div id="popular_@{attribute}_form" class="w3-accordion-content w3-white">
	    @addQuery(curr_event.name, "popular", attribute, "popular_"+attribute)
	</div>	
	@for(q <- queries) {
		@if(q.event==curr_event.name && q.query_type=="popular" &&  q.attribute==attribute){
		  	<div id=@q.name class="w3-accordion-content w3-white w3-margin-top">
			  	@popularQueryResult(q)
		  	</div>
	  	}
	}
