@(event_name: String, attribute: String, query_name: String)

  <div class="w3-display-container w3-light-grey w3-padding-4 w3-card-2" style="height:30px">
    <div class="w3-display-topleft w3-padding w3-tiny w3-text-black">QUERY #@query_name</div> 
    <div class="w3-display-middle w3-padding w3-tiny w3-text-black" id="query_name"></div>
    <div class="w3-display-topright w3-padding w3-tiny w3-opacity w3-slim w3-text-red"><a href="#">Delete</a></div> 
  </div>
    
    <div id="query_name"></div>
    <div class="w3-small w3-padding" id="message"></div>
    


    <script type="text/javascript" charset="utf-8">
        var feed = new EventSource("@routes.Streaming.querychunked(event_name, attribute, query_name)");
        console.log("feed", feed);
        feed.addEventListener('message', function(event) {
          console.log(event);
          var result  = jQuery.parseJSON(event.data);
          console.log(result);
          
          var title = document.getElementById("query_name");
         

          var div;
          var i =0;
          while (div = document.getElementById('p'+i)) {
            div.parentNode.removeChild(div);
            i++;
          }
          var parent = document.getElementById("message");
          for (i in result.message){
            var para = document.createElement("p");
            var paraName = 'p'+i;
            para.setAttribute('id',paraName);
            parent.appendChild(para);
            var index = i;
            index++;
            $(para).html("<span style='display:inline-block; width: 200;'>" + index + "</span>" + "- " + result.message[i].hashtag + ", &emsp;" + result.message[i].count)
          }

      }, false);
  </script>

