@(event_name: String, activeForm: Form[Active])(implicit messages: play.api.i18n.Messages, request: RequestHeader)

@main("Events") {
 
<div class="w3-container w3-teal w3-padding-8 w3-card-2">
    <span class="w3-large w3-text-black"><b>Set Active</b></span> 
</div>

 <div class="w3-container w3-padding-8" style="width:60%;">
    @helper.form(routes.Application.setActive(event_name)) {
    <table class="w3-table w3-bordered w3-border w3-margin-top">
 	    <tr>
		    <td>
		    @helper.checkbox(activeForm("active"))
		    </td>
		</tr>
		<tr>
		    <td>
		    <button type="submit" class="w3-btn w3-round">Set</button>
		    </td>
	    </tr>
	</table>

	}
</div>

}
