@(query: Query)


<div class="w3-container w3-padding-0 w3-margin-top" style="width:100%;">  

  <div class="w3-row" style="height:5%">
    <div class="w3-col" style="width:30%">
       <p class="w3-small w3-padding-0 w3-margin-0"><b>@query.name</b></p>
       <span class="w3-small w3-padding-0 w3-margin-0">(@{query.trendType}, @{query.value})</span>
    </div>
    <div class="w3-col" style="width:8%"> 
      @helper.form(routes.Application.setQueryStatus(query.event, "trend", query.attribute, query.name)){
        <input type="hidden" class="w3-small" name="request" 
         value='@if(query.running){stop}else{start}'/>
        <span><button id="@{query.name}_s" type="submit" class="w3-btn w3-round w3-tiny w3-margin-0 w3-light-grey w3-text-black w3-hover-text-orange"onclick="showFun1('@{query.name}_s','');">@if(query.running){Stop}else{Start}</button></span>
      }
    </div>
    <div class="w3-col" style="width:60%">
      @helper.form(routes.Application.deleteQuery(query.event, "trend", query.attribute, query.name)){
        <input type="hidden" class="w3-small" name="request" value='delete'/>
        <span><button id="@{query.name}_d" type="submit" class="w3-btn w3-round w3-tiny w3-margin-0 w3-light-grey w3-text-black w3-hover-text-orange"onclick="showFun1('@{query.name}_d','');">Delete</button></span>
      }     
    </div>
  </div>

  <div class="w3-small w3-padding" id="message"></div>
</div>   

    <script type="text/javascript" charset="utf-8">
        var feed = new EventSource("@routes.Streaming.querychunked(query.event, query.attribute, query.name)");
        console.log("feed", feed);
        feed.addEventListener('message', function(event) {
          console.log(event);
          var result  = jQuery.parseJSON(event.data);
          console.log(result);
          
          var div;
          var i =0;
          while (div = document.getElementById('p'+i)) {
            div.parentNode.removeChild(div);
            i++;
          }
          var parent = document.getElementById("message");
          for (i in result.message){
            var para = document.createElement("p");
            var paraName = 'p'+i;
            para.setAttribute('id',paraName);
            parent.appendChild(para);
            var index = i;
            index++;
	          $(para).html("<span style='display:inline-block; width: 200;'>(" + index + ")</span>&emsp;&emsp;&emsp;" + result.message[i].value + "&emsp;&emsp;&emsp;")
          }

          $('#@{query.name}_result').html(result.message)

      }, false);
  </script>

